html {
  box-sizing: border-box;
  font-size: 62.5%;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  font-size: 18px;
  font-size: 1.8rem;
  line-height: 1.6;
  font-family: var(--base);
}

a {
  text-decoration: none;
  color: var(--white);
}

img {
  display: block;
  width: 100%;
  object-fit: contain;
}
