.content {
  width: 95%;
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
}

.wrap {
  display: flex;
  justify-content: flex-start;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--white);
  min-height: 100vh;
  padding: 1rem;
}

@media (min-width: 1023px) {
  .main {
    padding: 1rem 4rem;
  }
}

.section {
  margin-top: 10rem;
  color: var(--blue-dark);
  padding-bottom: 10rem;
}

@media (min-width: 1023px) {
  .section {
    flex: 0 0 50%;
    margin-top: 3rem;
  }
}

.btn {
  background-color: var(--blue-baby);
  padding: 0.5rem 4rem;
  border-radius: 0.8rem;
  font-weight: bold;
  text-transform: capitalize;
  box-shadow: 0 0.3rem 0.7rem var(--dark);
  color: var(--white);
  text-align: center;
  border: none;
  cursor: pointer;
}

.heading {
  color: var(--blue-dark);
  text-align: center;
  max-width: 27ch;
  margin-left: auto;
  margin-right: auto;
}

.heading::first-letter {
  text-transform: capitalize;
}

a.active {
  color: var(--white);
}

a.active::before {
  background-color: var(--blue);
  border: 3px solid var(--white);
}

.back {
  color: var(--blue-baby);
  font-weight: bold;
  margin-top: 2rem;
  background-color: transparent;
  border: none;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  display: block;
  cursor: pointer;
}

.back::first-letter {
  text-transform: uppercase;
}

.feedback {
  border: 2px solid rgb(187, 22, 22);
  padding: 1rem;
  text-align: center;
  border-radius: var(--radius);
  color: rgb(187, 22, 22);
}

.feedback::first-letter {
  text-transform: uppercase;
}

.bg-blue {
  background-color: var(--blue);
}

.bg-white {
  background-color: var(--white);
}
