@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@400;700&display=swap');

:root {
  --base: 'Quicksand', sans-serif;

  --white: #fffdfb;
  --gray: #ccc;

  --black: #222;
  --dark: #333;

  --blue: #0a3868;
  --blue-dark: rgb(87 114 148);
  --blue-baby: #0bc6fe;
  --blue-light: #a9d4ea;

  --radius: 1rem;
}
