.Heading {
  text-align: center;
  line-height: 1.3;
}

.Heading span {
  display: block;
}

.Paragraph {
  text-align: center;
  max-width: 30ch;
}

.Link {
  margin-top: 3rem;
  box-shadow: none !important;
}
